section.firstSection {
  padding-top: 40px;
}

@media (min-width: 860px) {
  section.firstSection {
    padding-top: 56px;
  }
}

.worksGrid {
  margin-bottom: 40px;
}

.centerLink {
  display: flex;
  justify-content: center;
}
